---
services:
  frontend:
    depends_on:
      - backend
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    environment:
      API_URL: http://backend:5001/api/classes

  backend:
    depends_on:
      - mongodb
    build:
      context: ./backend
    ports:
      - "5001:5001"
    environment:
      DATABASE_URL: mongodb://admin:password@mongodb:27017
      DATABASE_NAME: LemoncodeCourseDb
      PORT: "5001"
      HOST: "0.0.0.0"

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

volumes:
  mongo-data:
